<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Account</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
   <!-- DataTables -->
   <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
   <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
   <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <li class="nav-item d-none d-sm-inline-block">
      <h2 class="card-title">Account Management</h2>
    </li>
      <ul class="nav navbar-nav ml-auto navbar-right">
        <li class="nav-item">
        <a class="navbar-brand" href="#" >
          <img src="/dist/img/MERAHPUTIH2.png" width="100" height="50"></a>  
        </li>
      </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shipping-fast"></i>
              <p>
                Shipment Rates
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/inlandfreight" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inland Freight</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/airfreight" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Air Freight</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/seafreight" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sea Freight</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/accountmgt" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>Account Management</p>
            </a>
          </li>  
          <li class="nav-item">
            <a href="/login" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>Logout</p>
            </a>
          </li>            
        </ul>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">User List</h3>
        <a href="#" button type="button" id="addnew" class="btn btn-danger btn-xs ml-1 btn-lg active">
          <i class="fas fa-plus"></i> ADD NEW </a>
      </div>

      <div class="card-body" id="form1" style="display:none">
        <form action="/users/add" method="POST">

        <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Status</th>
        </tr>
    </thead>
          <td> <input type="input" class="form-control" id="exampleInputEmail1" placeholder="username" name="username">
          </td>
          <td> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email" name="email">
          </td>
          <td> <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" name="password">
          </td>
          <td>
            <select id="inputStatus" class="form-control custom-select" name="status">
              <option selected disabled>Select one</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </td>
      </table>
      <p><button type="submit" class="btn-primary btn-sm">SAVE</button></p>
    </form>
    </div>
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            
          </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].username %></td>
              <td><%= data[i].email %></td>
              <td><%= data[i].password %>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm dropdown-toggle btn-lg active" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="dropdown-menu" role="menu" style="">
                    <a href="/users/update/<%= data[i].id %>" class="dropdown-item">Edit</a>
                    <a href="/users/del/<%= data[i].id %>" class="dropdown-item">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
       
            </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021. All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<script>
  $( document ).ready( function() {
   $( "#addnew" ).click( function() {
     $( "#form1" ).show();
   });
 });
 </script>
</body>
</html>
